section.about
  .container.about__container--top
    p.about__subtitle Landing Furnished
    h2 Enjoy all the amenities of a fully furnished Landing home
  .swiper.about-slider
    .swiper-wrapper
      .swiper-slide
        .about-slider__image
          img(src="@img/gallery-1.png", width="880", height="480" alt="room")
      .swiper-slide
        .about-slider__image
          img(src="@img/gallery-2.png", width="880", height="480" alt="room")
      .swiper-slide
        .about-slider__image
          img(src="@img/gallery-1.png", width="880", height="480" alt="room")
      .swiper-slide
        .about-slider__image
          img(src="@img/gallery-2.png", width="880", height="480" alt="room")
    .about-slider__control
      .about-slider__prev &larr;
      .about-slider__next &rarr;
      .about-slider__scrollbar
        .swiper-scrollbar-drag.about-slider__drag
  .container.about__container--bottom
    h3.about__subtitle Every Landing includes
    ul.about__list
      li.about__item
        img(src="@img/sm-gal-1.png", width="291", height="208", alt="Comfy") 
        p Comfy, in-house designed furnishings
      li.about__item
        img(src="@img/sm-gal-2.png", width="291", height="208", alt="Luxury") 
        p Luxury mattress and linens
      li.about__item 
        img(src="@img/sm-gal-3.png", width="291", height="208", alt="Kitchen") 
        p A fully-equipped kitchen
      li.about__item 
        img(src="@img/sm-gal-4.png", width="291", height="208", alt="Workspaces") 
        p Dedicated workspaces
      li.about__item 
        img(src="@img/sm-gal-5.png", width="291", height="208", alt="Smart TV") 
        p Smart TV + Wifi
      li.about__item 
        img(src="@img/sm-gal-6.png", width="291", height="208", alt="Toiletries") 
        p Premium toiletries
      li.about__item 
        img(src="@img/sm-gal-7.png", width="291", height="208", alt="Plenty") 
        p Plenty of storage
      li.about__item 
        img(src="@img/sm-gal-8.png", width="291", height="208", alt="Thoughtful") 
        p Thoughtful finishing touches