section.about
    p.about__subtitle Landing Furnished
    h2 Enjoy all the amenities of a fully furnished Landing home
    .swiper.about-slider
        .swiper-wrapper
            .swiper-slide
                .about-slider__image
                    img(src="@img/gallery-1.png", width="880", height="480" alt="room")
            .swiper-slide
                .about-slider__image
                    img(src="@img/gallery-2.png", width="880", height="480" alt="room")
            .swiper-slide
                .about-slider__image
                    img(src="@img/gallery-1.png", width="880", height="480" alt="room")
            .swiper-slide
                .about-slider__image
                    img(src="@img/gallery-2.png", width="880", height="480" alt="room")
        .about-slider__control
            .about-slider__prev &larr;
            .about-slider__next &rarr;
            .about-slider__scrollbar
                .swiper-scrollbar-drag.about-slider__drag
    h3.about__subtitle Every Landing includes
    ul.about__list
        li.about__item
            img(src="@img/sm-gal-1.png", width="291", height="208") 
            p Comfy, in-house designed furnishings
        li.about__item
            img(src="@img/sm-gal-2.png", width="291", height="208") 
            p Luxury mattress and linens
        li.about__item 
            img(src="@img/sm-gal-3.png", width="291", height="208") 
            p A fully-equipped kitchen
        li.about__item 
            img(src="@img/sm-gal-4.png", width="291", height="208") 
            p Dedicated workspaces
        li.about__item 
            img(src="@img/sm-gal-5.png", width="291", height="208") 
            p Smart TV + Wifi
        li.about__item 
            img(src="@img/sm-gal-6.png", width="291", height="208") 
            p Premium toiletries
        li.about__item 
            img(src="@img/sm-gal-7.png", width="291", height="208") 
            p Plenty of storage
        li.about__item 
            img(src="@img/sm-gal-8.png", width="291", height="208") 
            p Thoughtful finishing touches