section.about
    p Landing Furnished
    p Enjoy all the amenities of a fully furnished Landing home
    h3 Every Landing includes
    ul
        li Comfy, in-house designed furnishings
        li Luxury mattress and linens
        li A fully-equipped kitchen
        li Dedicated workspaces
        li Smart TV + Wifi
        li Premium toiletries
        li Plenty of storage
        li Thoughtful finishing touches