section.advantages
    p Unlock life with your 
        span Landing Membership
    a(href="") Learn More
    p $199 Annual Membership
    dl
        div
            dt Lease how you want
            dd Stay between one and 12+ months with the ability to transfer to other homes in the Landing network.
        div
            dt Bounce around or stay put
            dd We're always expanding our network to give you the best selection and options.
        div
            dt Keep cash in your pocket
            dd No application fees or security deposit.
        div
            dt Enjoy guaranteed peace of mind
            dd If you’re not completely satisfied in your first week, we’ll make it right.
        div
            dt Get up to 7 free travel days
            dd Stay with Landing on your next trip. Get up to 7 free days every year.
        div
            dt Rest easy with 24/7 member support
            dd Questions can come up anytime, so we’re always available to help.