section.advantages
  .container.advantages__container
    .advantages__title
      h2 Unlock life with your 
        span Landing Membership
      p $199 Annual Membership
    a(href="") Learn More &#8594;
    dl.advantages__description
      div.advantages__lease
        dt Lease how you want
        dd Stay between one and 12+ months with the ability to transfer to other homes in the Landing network.
      div.advantages__bounce
        dt Bounce around or stay put
        dd We're always expanding our network to give you the best selection and options.
      div.advantages__keep-cash
        dt Keep cash in your pocket
        dd No application fees or security deposit.
      div.advantages__enjoy
        dt Enjoy guaranteed peace of mind
        dd If you’re not completely satisfied in your first week, we’ll make it right.
      div.advantages__7-free
        dt Get up to 7 free travel days
        dd Stay with Landing on your next trip. Get up to 7 free days every year.
      div.advantages__rest-easy
        dt Rest easy with 24/7 member support
        dd Questions can come up anytime, so we’re always available to help.