section.brands
    ul
        li
            a(href="#")  WSJ
        li
            a(href="#")  Forbes
        li
            a(href="#")  Bloomberg
        li
            a(href="#")  Yahoo
        li
            a(href="#")  Chicago Tribune
        li
            a(href="#")  Curbed