section.brands
  .container.brands__container
    .brands__list
      a.brands__item.brands__item--wsj(href="#", target="_blank")  WSJ
      a.brands__item.brands__item--forbes(href="#", target="_blank")  Forbes
      a.brands__item.brands__item--bloomberg(href="#", target="_blank")  Bloomberg
      a.brands__item.brands__item--yahoo(href="#", target="_blank")  Yahoo
      a.brands__item.brands__item--chicago-tribune(href="#", target="_blank")  Chicago Tribune
      a.brands__item.brands__item--curbed(href="#", target="_blank")  Curbed