section.features
    p Get the best rates and even more freedom with
    dl
        div
            dt Best Rates
            dd Explorer members always get our lowest monthly rates.
        div
            dt Ultimate Flexibility
            dd When you’re ready for something new, simply give a 30-day notice; there’s no lease to break or transfer fees.
        div
            dt Easy Transfers
            dd Seamlessly move between Landing apartments anywhere, anytime.