section.features
  .container.features__container
    .features__text
      h2 Get the best rates and even more freedom with Landing Explorer
      dl
        div.features__box.features__box--rates
          dt Best Rates
          dd Explorer members always get our lowest monthly rates.
        div.features__box.features__box--ultimate
          dt Ultimate Flexibility
          dd When you’re ready for something new, simply give a 30-day notice; there’s no lease to break or transfer fees.
        div.features__box.features__box--easy
          dt Easy Transfers
          dd Seamlessly move between Landing apartments anywhere, anytime.
    img(src="@img/features.png", width="618", heigth="577",alt="Our features")