footer.footer
    .footer-main
        p Landing is a network of furnished apartments for rent across the country.
        ul
            li Cities
                ul 
                    li
                        a(href="#") Austin 
                    li
                        a(href="#") Birmingham
                    li
                        a(href="#") Boston
                    li
                        a(href="#") Chicago
                    li
                        a(href="#") Dallas
            li Landing
                ul 
                    li
                        a(href="#") Member Benefits
                    li
                        a(href="#") Blog
                    li
                        a(href="#") About
                    li
                        a(href="#") Refer a Friend
                    li
                        a(href="#") Become a Host
                    li
                        a(href="#") Become a Partner
                    li
                        a(href="#") Careers
            li Support
                ul 
                    li
                        a(href="#") Contact Us
                    li
                        a(href="#") FAQ
                    li
                        a(href="#") Terms of Service
                    li
                        a(href="#") Privacy Policy
    .footer-bottom
        p © Landing 2021. All rights reserved.
        ul
            li 
                a(href="tel:+4152311701") 415-231-1701
            li 
                a(href="#") Twitter
            li 
                a(href="#") 
            li 
                a(href="#") Facebook
