footer.footer
  .footer__main
    p.footer__text Landing is a network of furnished apartments for rent across the country.
    ul.footer__list
      li.footer__sublist Cities
        ul 
          li
            a(href="#") Austin 
          li
            a(href="#") Birmingham
          li
            a(href="#") Boston
          li
            a(href="#") Chicago
          li
            a(href="#") Dallas
      li.footer__sublist Landing
        ul 
          li
            a(href="#") Member Benefits
          li
            a(href="#") Blog
          li
            a(href="#") About
          li
            a(href="#") Refer a Friend
          li
            a(href="#") Become a Host
          li
            a(href="#") Become a Partner
          li
            a(href="#") Careers
      li.footer__sublist Support
        ul
          li
            a(href="#") Contact Us
          li
            a(href="#") FAQ
          li
            a(href="#") Terms of Service
          li
            a(href="#") Privacy Policy
  .footer__bottom
    p © Landing 2021. All rights reserved.
    ul.footer__contacts-list
      li.footer__contacts-tel
        a(href="tel:+4152311701") 415-231-1701
      li.footer__contacts-item.footer__contacts-item--tw 
        a(href="#") Twitter
      li.footer__contacts-item.footer__contacts-item--inst 
        a(href="#") Instagram
      li.footer__contacts-item.footer__contacts-item--fb 
        a(href="#") Facebook
