section.gallery
  .container.gallery__container
    h2 See where members love to live
    p We offer over 80 cities, and counting, across the U.S. and encourage you to explore with our free, 7-day travel benefit.
    .swiper.gallery-slider
      .swiper-wrapper
        .swiper-slide
          .gallery-slider__image
            img(src="@img/city-gal-1.png", width="288", height="208" alt="city")
        .swiper-slide
          .gallery-slider__image
            img(src="@img/city-gal-2.png", width="288", height="208" alt="city")
        .swiper-slide
          .gallery-slider__image
            img(src="@img/city-gal-3.png", width="288", height="208" alt="city")
        .swiper-slide
          .gallery-slider__image
            img(src="@img/city-gal-4.png", width="288", height="208" alt="city")
        .swiper-slide
          .gallery-slider__image
            img(src="@img/city-gal-5.png", width="288", height="208" alt="city")
        .swiper-slide
          .gallery-slider__image
            img(src="@img/city-gal-1.png", width="288", height="208" alt="city")
        .swiper-slide
          .gallery-slider__image
            img(src="@img/city-gal-2.png", width="288", height="208" alt="city")
      .gallery-slider__control
        .gallery-slider__prev &larr;
        .gallery-slider__next &rarr;
        .gallery-slider__scrollbar
          .swiper-scrollbar-drag.gallery-slider__drag
    h3.gallery__subtitle More of our favorite cities
    ul.gallery__list
      li.gallery__item Miami
        span Florida
      li.gallery__item Los Angeles
        span California
      li.gallery__item St. Petersburg
        span Florida
      li.gallery__item Boulder
        span Colorado

      li.gallery__item Fort Lauderdale
        span Florida
      li.gallery__item Charleston
        span South Carolina
      li.gallery__item Portland
        span Oregon
      li.gallery__item Charlotte
        span North Carolina

      li.gallery__item Salt Lake City
        span Utah
      li.gallery__item New York
        span New York
      li.gallery__item Washington
        span D.C.
      li.gallery__item Philadelphia
        span Pennsylvania

      li.gallery__item San Francisco
        span California
      li.gallery__item Phoenix
        span Arizona
      li.gallery__item Baltimore
        span Maryland
      li.gallery__item Oklahoma City
        span Oklahoma

      li.gallery__item Chicago
        span Illinois
      li.gallery__item Las Vegas
        span Nevada
      li.gallery__item Fort Worth
        span Texas
      li.gallery__item Tampa
        span Florida

      li.gallery__item Boston
        span Massachusetts
      li.gallery__item Orlando
        span Florida
      li.gallery__item Richmond
        span Virgina
      li.gallery__item Nashville
        span Tennessee
    a.gallery__link(href="#") View all cities 