header.header
  .container.header__container
    img(src="@img/logo.svg", alt="Landing")
    nav
      ul.nav-list
        li.nav-list__item Why landing
        li.nav-list__item Resources
        li.nav-list__btn
          a(href="#") Sign in
    div.menu-btn
      span
