section.promo
    p We’re reinventing apartment living
    p Say goodbye to being trapped in a lease. Landing members have access to thousands of apartments with flexible leases.
    form(action="", method="get")
        label(for="location") Where to?
        input(type="text" name="location" placeholder="Location")
        label(for="dates") How long?
        input(type="text" name="dates" placeholder="Dates")
        button(type="submit") Search
    img(src="", alt="")