section.reviews
  h2 See what our members have to say
  ul.reviews__list 
    li.reviews__item
      blockquote
        .rating
          span.rating-active
          span.rating-active
          span.rating-active
          span.rating-active
          span.rating-active
        cite Waseem A.
        p.reviews__city Fort Lauderdale, FL
        p.reviews__content Even on the conservative side, apartment buildings expect a three-month minimum (lease)... If they do offer month-to-month, it’s often as much as twice the rental price, and it’s incredibly annoying to furnish a place if you’re only going to live there for a month.
    li.reviews__item
      blockquote
        .rating
          span.rating-active
          span.rating-active
          span.rating-active
          span.rating-active
          span.rating-active
        cite Michael H.
        p.reviews__city Tampa, FL
        p.reviews__content Landing’s apartments have everything under the sun. When we arrived, we brought things that we thought Landing wouldn’t know we needed. But they had it – so now we have two of everything
    li.reviews__item
      blockquote
        .rating
          span.rating-active
          span.rating-active
          span.rating-active
          span.rating-active
          span.rating-active
        cite Daniel O.
        p.reviews__city  Nashville, TN
        p.reviews__content The biggest perk is the flexibility, the fact that if I want to live anywhere from Nashville to Seattle, Austin to New York City, I have a way to do it. Landing makes the world accessible in a way that it wasn’t before.