section.reviews
    h2 See what our members have to say
    ul 
        li
            blockquote
                cite Waseem A.
                p Fort Lauderdale, FL
                p Even on the conservative side, apartment buildings expect a three-month minimum (lease)... If they do offer month-to-month, it’s often as much as twice the rental price, and it’s incredibly annoying to furnish a place if you’re only going to live there for a month.
        li
            blockquote
                cite Michael H.
                p Tampa, FL
                p Landing’s apartments have everything under the sun. When we arrived, we brought things that we thought Landing wouldn’t know we needed. But they had it – so now we have two of everything
        li
            blockquote
                cite Daniel O.
                p Nashville, TN
                p The biggest perk is the flexibility, the fact that if I want to live anywhere from Nashville to Seattle, Austin to New York City, I have a way to do it. Landing makes the world accessible in a way that it wasn’t before.