html(lang="en")
    include html/head
    body
        .container 
            include html/header
            main
                include html/promo
                include html/advantages
                include html/features
                include html/about
                include html/reviews
                include html/brands
                include html/gallery
            include html/footer
        script(src="js/app.min.js")