html
    head
        link(rel="stylesheet", href="css/style.min.css")
    body 
        include html/header
        main.page
            h1 Привет!
            p Это снова я
            span Красный текст
            img(src="@img/dima.jpg")
        include html/footer
        script(src="js/app.min.js")