.about {
    position: relative;
    background-color: $color-accent;
    padding: 120px 0 120px 102px;
    color: $ff-color-light;

    h2 {
        max-width: 683px;
        font-size: 48px;
        line-height: 58px;
        font-weight: 400;
        margin: 0;
        padding: 48px 0 104px;
    }

    &__subtitle {
        padding-top: 80px;
        line-height: 22px;
        font-weight: 400;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
        list-style: none;
        margin: 32px 0 0;
        padding: 0 102px 0 0;
    }

    &__item {
        line-height: 16px;
        padding-top: 16px;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    &::after {
        content: '';
        position: absolute;
        width: 125px;
        height: 123px;
        bottom: -58px;
        left: 162px;
        background: url(../img/icons/icons.svg#i-about) no-repeat;
    }
}

.about-slider {
    position: static;

    &__image img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
    }

    &__control {
        display: flex;
        gap: 24px;
        align-items: center;
        padding-top: 8px;
        padding-right: 102px;
    }

    &__prev,
    &__next {
        width: 25px;
        color: $ff-color-main;
        cursor: pointer;
    }

    &__scrollbar {
        width: 100%;
        height: 2px;
        background-color:#FFFFFF66;
        cursor: pointer;
    }

    &__drag {
        background-color: $ff-color-light;
    }
}