.gallery {
    padding: 120px 102px 96px;
    background-color: $color-accent-secondary;
    color: $ff-color-light;

    h2 {
        font-size: 32px;
        line-height: 45px;
        font-weight: 400;
        margin: 0 0 23px;
    }

    p {
        line-height: 26px;
        color: #a7a6a4;
        max-width: 421px;
        margin: 0 0 80px;
    }

    &__subtitle {
        margin: 80px 0 0;
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        margin: 26px 0 44px;
        padding: 0;
        list-style: none;
    }

    &__item {
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 28px;

        span {
            display: block;
            color: #a7a6a4;
            margin-top: 10px;
        }
    }

    &__link {
        background: #2e2b29;
        border-radius: 8px;
        padding: 16px 24px;
        color: $ff-color-light;
        text-decoration: none;
        text-transform: capitalize;
    }
}
