.header {
  min-height: 80px;

  &__container {
    padding: 0 7%;
    display: flex;
    justify-content: space-between;
  }

  img {
    padding: 24px 0;
  }
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 24px;
  text-transform: capitalize;

  @media (max-width: 750px) {
    display: none;
  }

  &__item {
    padding: 15px 46px 15px 20px;
    font-family: $ff-main-bold;
    line-height: 19.2px;
    position: relative;
    cursor: pointer;

    &::after {
      position: absolute;
      content: "";
      width: 8px;
      height: 8px;
      border-top: 1.5px solid #000000;
      border-right: 1.5px solid #000000;
      top: 20px;
      right: 20px;
      transform: rotate(135deg);
    }
  }

  &__btn {
    border-radius: 8px;
    background-color: #0000000f;
    padding: 15px 0;

    a {
      color: $ff-color-main;
      text-decoration: none;
      padding: 15px 20px;
      vertical-align: middle;
    }
  }
}

.menu-btn {
  display: none;
  align-items: center;
  cursor: pointer;
  z-index: 1;

  @media (max-width: 750px) {
    display: flex;
  }

  & > span,
  & > span::before,
  & > span::after {
    display: block;
    position: relative;
    width: 20px;
    height: 1.5px;
    background-color: #616161;
  }

  & > span::before {
    content: "";
    top: -8px;
  }
  & > span::after {
    content: "";
    top: 8px;
  }
}
