$color-black: #000;
$color-white: #fff;

$ff-main: 'Roboto';
$ff-main-bold: 'Roboto-Bold';

$ff-color-main: $color-black;
$ff-color-secondary: #55524e;
$ff-color-light: $color-white;

$color-main: #f3f3f2;
$color-secondary: #fbede4;
$color-accent: #194240;
$color-accent-secondary: #1b1918;
